/.idea
/node_modules
/public
/public/mix-manifest.json
mix-manifest.json
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
