/* Pour l'ancien bouton
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");*/

/* Partie modélisation de l'accueil */

.modelisationContent {
    text-align: center;
    position: relative;
}

.modelisationImageHome {
    position: relative;
    width: 100%;
    height: 100%;
}

@font-face{
    font-family: 'aquarium';
    src: url('../font/aquarium.ttf');
}

.modelisationTextHome {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    color: #fdfdfd;
    font-size: 3rem;
    margin-top: 10px;
}

.personnalisation{
    font-family: 'aquarium';
}


.modelisation{
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #0a0a0a 10px 0 10px;
}

.modelisation:link{
    text-decoration:none;
}

.modelisation:hover {
    color: white;
}

.hrModelisation {
  background-color: white;
  width: 4%;
  height: 3px;
  margin-bottom: 15px auto;
  text-shadow: #0a0a0a 10px 0 10px;
}

/* Partie fonctionnalités de l'accueil */

.fonctionnalite {
    border: 5px solid white;
    max-width: 100%;
    height: auto;
}

.fonctionnalitésText {
    position: relative;
    font-size: 8rem;
    top: auto;
    text-align: center;
    font-family: 'Palatino Linotype';
    align-content: center;
    color: rgb(3, 3, 3);
    margin-top: 10px;
}


.hrFonctionnalites {
    background-color: rgb(7, 7, 7);
    width: 3%;
    height: 2px;
    margin-bottom: 15px;
}
