/* Pour l'ancien bouton
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");*/

/* Partie modélisation de l'accueil */

.modelisationContent {
    text-align: center;
    position: relative;
}

.modelisationImageHome {
    position: relative;
    width: 100%;
    height: 100%;
}

@font-face{
    font-family: 'aquarium';
    src: url('../font/aquarium.ttf');
}

.modelisationTextHome {
    position: absolute;
    /* background-color: #0a0a0ac0;  */
    top: 20%;
    left: 20%;
    right: 20%;
    color: #fdfdfd;
    font-size: 3rem;

    margin-top: 10px;
}

.personnalisation{
    font-family: 'aquarium';
}

/* a:link{
  text-decoration:none;
}
a:hover{
  color: white;
} */

.modelisation{
    font-size: 4rem;
    color: #fdfdfd;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #0a0a0a 10px 0 10px;
    /* transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-size: contain;
    background-position: -200px center;
    background-repeat: no-repeat; */
    /* font-family: 'serif'; */
}

.modelisation:link{
    text-decoration:none;
}

.modelisation:hover {
    color: white;
    /* transform: scale(1.1);
    background-position: -60px; */
}

/* .modelisation:active {
  transform: scale(1);
  background-position: 500px;
}*
 */

/* #modelisation {
  width: 100%;
} */

/*Ancien bouton
  .modelisationButton{
    left : 20%;
    right : 20%;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2% 2%;
    background-color: #242323;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-size: contain;
    background-position: -200px center;
    background-repeat: no-repeat;
    border:1px solid #dee2e6;
  }
  .modelisationButton:hover {
    transform: scale(1.1);
    background-position: -60px;
  }
  .modelisationButton:active {
    transform: scale(1);
    background-position: 500px;
  }*/

/* Partie fonctionnalités de l'accueil */

.hrModelisation {
    background-color: white;
    width: 4%;
    height: 3px;
    margin-bottom: 15px;
    text-shadow: #0a0a0a 10px 0 10px;
}

.fonctionnalite {
    border: 5px solid white;
    max-width: 100%;
    height: auto;
}

.fonctionnalitésText {
    position: relative;
    font-size: 3rem;
    top: auto;
    text-align: center;
    font-family: 'Palatino Linotype';
    align-content: center;
    color: rgb(3, 3, 3);
    margin-top: 10px;
}


.hrFonctionnalites {
    background-color: rgb(7, 7, 7);
    width: 3%;
    height: 2px;
    margin-bottom: 15px;
}
