/* CSS HEADER */
.header {
    height:215px;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

.buttonHeader {
    position: absolute;
    top: 170px;
    right: 5px;
    margin-right: 20px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    width: 16%;
    text-align: center;

}

/* CSS FOOTER */
.site-footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li {
    width: 50px;
    height: 50px;
    position: relative;
    background: #e59500;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display:inline-block;
    margin-bottom:4px
}

.wrapper ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
}

.wrapper ul li.facebook{
    background: #3b5998;
}

.wrapper ul li.twitter{
    background: #00aced;
}

.wrapper ul li.instagram{
    background: #bc2a8d;
}

.wrapper ul li.google{
    background: #dd4b39;
}
