/* DEBUT BLOCK MODELISATION */

.blocRecherche{
    border:solid 10px white;
    border-radius: 5%;
    background-color: rgba(239, 235, 233, 0.5);
}

.h3BlocRecherche{
    color:black;
    font-size: medium;
}

.hrBlocRecherche{
    height: 2px;
    color: black;
    width: 80%;
    border-top: 1px solid;
}

.dropdown {
    margin-top:2px;
}

