.blocRecherche{
    border-radius: 5%;
    background-color: #EFEBE9;
    opacity: 0.5;
}

.blocRecherche h3{
    color:black;
}

.blocRecherche hr{
    height: 2px;
    color: black;
    background-color: black;
    width: 80%;
    border: none;
}
